.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
  height: 60px; /* Define a fixed height for consistency */
}

.map-container {
  height: calc(100vh - 60px); /* Subtract the navbar height from the viewport height */
  overflow: hidden; /* Prevent scrollbars */
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
